/build/*
!/build/pdf/*.pdf
.ycm_extra_conf.py
*.pgm
*.cgdump
!**/configs/master_solver_benchmarks/huge/*
pandora
with_loose_cosinus_rule
.gdb_history
benchmarks
temp
*.pdf
*.tex
__pycache__
*.kdev4
archive
4x4_one_reflector_multiple_heights
hidden
master_solver_benchmarks
master_solver_benchmark_plot.png
master_solver_benchmarks
one_reflector_multiple_heights
overlapping
runtime
hidden
abc
html
latex
*.lp
build*
